body{
  overflow: hidden;
  margin-right: 9px;
  margin-left: 9px;
}

/* Scrollbar */
/*::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(44,120,242,.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(44,120,242,.3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}*/

table{
  font-size: 0.85em !important
}
table.striped > tbody > tr:nth-child(odd){
  background-color:#ECEFF1 !important;
}
table.striped > tbody > tr:nth-child(even){
  background-color:#FFFFFF !important;
}
thead.data-view{
  width: 100%;
  background: #448AFF;
  display: block;
  color: white;
}
tbody.data-view {
  display: block;
  height: 200px;
  overflow: auto;
}
tr.selected{
  background: #F4FF81 !important;
}
th{
  font-weight: normal !important;
  /*border-right: 1px solid silver;*/
  /*text-align: center;*/
}
td{
  /*border-right: 1px solid silver;*/
}
input{
  /*color: yellow;*/
}
input#current_page_number{
  text-align: center;
  height: 1.5rem !important;
  width: 30px;
}
div.header{
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 10px;
  height: 40px;
}
div.footer{
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content: space-between;
  /*background: red;*/
}
div.footer-section{
  /*background: #E3F2FD;*/
}
div.footer-section-inner{
  display: flex;
  flex-direction: row;
}
div.list-arsip{
  /*width: 500px;*/
  /*background-color: red;*/
  display: flex;
  /*justify-content: flex-start;*/
  /*align-content: flex-start;*/
  justify-content: flex-start;
  flex-flow: row wrap;
}
div.list-arsip-item{
  width: 220px;
  font-size: 0.8em;
  padding: 10px;
  border: 1px solid #DCEDC8;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #F1F8E9;
}
div.main-container{
  margin:0 auto;
  /*background: red;*/
}
div.menu-section{
  width: 90%;
  padding-top: 10px;
  padding-left: 5px;
}
div.data-view-count, div.data-view-infoselectedrow{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
div.data-view-count{
  width: 220px;
}
div.data-view-infoselectedrow{
  width: 120px;
}
div.data-view-navigator{
  width: 110px;
  padding-top: 20px;
  padding-right: 30px;
}
label.tiny{
  font-size: 14px;
  padding-left: 24px;
}
span.tag{
  font-size: 0.9em;
  font-weight: bold;
}
#modal_cari, #modal_input{
  top: 8% !important;
  height: 84% !important;
  max-height: 84% !important;
}
i.tag{
  font-size: 1.5em;
}
i.tag-small{
  font-size: 1.2em;
}
i.navigator{
  cursor: pointer;
}
.color-green{
  color: green !important;
}
.color-black{
  color: black !important;
}
.color-blue{
  color: blue !important;
}
.color-purple{
  color: #9C27B0 !important;
}
.form-header-title{
  font-size: 2em;
}
.form-header-icon{
  font-size: 1.5em;
}
.flex{
  /*margin-right: 2px;*/
  padding: 13px !important;
  /*border-top: 1px dotted silver;
  border-bottom: 1px dotted silver;
  border-right: 1px dotted silver;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  align-content: space-around;
}
.overfly{
  margin-top: 5px;
}
.side-nav-banner{
  background: #0D47A1;
}
.modal-footer-flex{
  display: flex;
  justify-content: space-between;
}
.modal-footer-flex-end{
  display: flex;
  justify-content: flex-end;
}
.hidden{
  display: none;
}
.data-view-status-child{
  /*width: 100px;*/
  /*background: yellow;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.data-view-status-child-items{
  /*background-color: cyan;*/
  white-space: nowrap
}
.picker__date-display{
  display: none;
}
.picker__day--highlighted{
  background-color: #fff2ae !important;
}

/*Jquery UI*/
.ui-front{
  z-index: 99999 !important;
  background-color: #FFFFFF;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: silver;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
