{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
        <meta name="description" content="Catatan Online"/>
        <title>{{template "title" .}} | SMS</title>
        <style>
        body{
            font-family: tahoma;
            font-size: 14px;
        }
        a{
        	text-decoration: none;
        	color: blue;
        }
        textarea{
        	width: 150px;
        	height: 150px;
        }
        </style>
    </head>

    <body>
        <div class="content">

            {{template "body" .}}
            
        </div><!-- /.content -->
    </body>
</html>

{{end}}