{{define "base"}}

<!DOCTYPE html>
<html>
    <head>
        <title>Pengawasan Bulanan</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link href="/materialize/materialize-font.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/materialize/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/react/react.js"></script>
        <style type="text/css">
            div.picker__date-display{
                display: none;
            }
            div.picker__day--highlighted{
                background-color: yellow;
            }
            div.picker__day--today{
                font-weight: bold;
            }
            .modal-content{
              height:calc(100%) !important;
            }
            .hide{
                display: none !important;
            }
            .row-mod1{
              margin-bottom: -15px;
              padding-top: 10px;
            }
            table{
              font-size: 0.8em;
            }
            div.container{
              width:2000px!important;
            }
            div.app-header{
              font-weight: bold;
              font-size: 2em;
            }
            td.SPTCell{
              height: 80px;
              width: 95px;
              border-left: 1px solid silver;
            }
            td.SPTCell:hover{
              background-color: #fff2ae;
            }
            div.zTop{
              top:0;
              left:0;
              position: absolute;
              z-index: 9999999999;
              margin-top: 0;
            }
            .cellLabel{
              background-color: #d2f1d3;
              margin-bottom: 2px;
              padding: 2px;
            }
            .mytoast{
              /*background-color: red !important;*/
              position: fixed;
              right: 0px !important;
            }
        </style>
    </head>

    <body>

        <div class="row">
            <div class="container base-container">
                <main>
                <div id="react"></div>
                </main>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="/react/suratmasuk.js"></script>
</html>

{{end}}
