{{define "base"}}

  <!DOCTYPE html>
  <html>
      <head>
          <title>Surat Masuk</title>
          <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          <meta http-equiv="Pragma" content="no-cache" />
          <meta http-equiv="Expires" content="0" />
          <link type="text/css" rel="stylesheet" href="/materialize/materialize-font.css" rel="stylesheet">
          <link type="text/css" rel="stylesheet" href="/materialize/materialize-0.97.8.min.css"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="/jquery/jquery-ui.min.css"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="/custom/custom1.css"  media="screen,projection"/>
          <script type="text/javascript" src="/jquery/jquery.min.js"></script>
          <script type="text/javascript" src="/jquery/jquery-ui.min.js"></script>
          <script type="text/javascript" src="/jquery/jquery.form.min.js"></script>
          <script type="text/javascript" src="/react/react.js"></script>
      </head>

      <body>
        <div id="react"></div>
      </body>

      <script type="text/javascript" src="/materialize/materialize-0.97.8.min.js"></script>
      <!-- <script type="text/javascript" src="/autocomplete/autocomplete.min.js"></script> -->
      <script type="text/javascript" src="/react/suratmasuk/side_nav.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/header.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/data_view.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/data_view_navigator.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/menu.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/modal.js"></script>
      <script type="text/javascript" src="/react/suratmasuk/app.js"></script>
      <!-- <script type="text/javascript" src="/bundle.js"></script> -->
  </html>

{{end}}
