{{define "base"}}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
        <meta name="description"/>
        <title>{{template "title" .}} | SMS</title>
        <link rel="stylesheet" href="/materialize/materialize-0.97.8.min.css" type="text/css" />
    </head>

    <body>

        {{template "body" .}}

    </body>
</html>

{{end}}
