{{define "base"}}

  <!DOCTYPE html>
  <html>
      <head>
          <title>Surat Masuk</title>
          <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          <meta http-equiv="Pragma" content="no-cache" />
          <meta http-equiv="Expires" content="0" />
          <link type="text/css" rel="stylesheet" href="/materialize/materialize-font.css" rel="stylesheet">
          <link type="text/css" rel="stylesheet" href="/materialize/materialize-0.97.8.min.css"  media="screen,projection"/>
          <script type="text/javascript" src="/react/react.js"></script>
      </head>
      <body>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
      </body>

      <script type="text/javascript" src="/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="/materialize/materialize-0.97.8.min.js"></script>
      <script>
        $(document).ready(function(){
          $(".modal").modal()
        })
      </script>
  </html>

{{end}}
